body {
  background: linear-gradient(135deg, #000000, #af002d);
  color: white;
  font-family: "Segoe UI", sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  text-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

.card {
  background: rgba(255,255,255,0.1);
  padding: 20px;
  border-radius: 15px;
  margin: 20px auto;
  max-width: 600px;
  backdrop-filter: blur(8px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.25);
}

img {
  border-radius: 15px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.5);
  margin-top: 10px;
  margin-bottom: 20px;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.skill {
  background: rgba(255,255,255,0.2);
  padding: 5px 12px;
  border-radius: 8px;
  font-weight: bold;
}
